services:
  app:
    build:
      dockerfile: ./Dockerfile
    restart: always
    ports:
      - 8000:8000
    volumes:
      - ./src:/opt/app/src:z
      - ./examples:/opt/app/examples:z
      - ./tests:/opt/app/tests:z
    environment:
      - GITHUB_TOKEN=$GITHUB_TOKEN
      - GITHUB_WEBHOOK_SECRET=$GITHUB_WEBHOOK_SECRET
      - GITHUB_WEBHOOK_PATH=$GITHUB_WEBHOOK_PATH
    entrypoint:
      - uv
      - run
      - fastapi
      - dev
      - scripts/github_app.py
      - --reload
      - --host
      - 0.0.0.0
      - --port
      - "8000"
    # taken from https://docs.astral.sh/uv/guides/integration/docker/#configuring-watch-with-docker-compose
    develop:
      watch:
        - action: sync
          path: .
          target: /opt/app
          ignore:
            - .venv/
        - action: rebuild
          path: ./pyproject.toml
  smee:
    image: vduchauffour/smee-client:latest
    depends_on:
      - app
    restart: always
    environment:
      - WEBHOOK_PROXY_URL=$WEBHOOK_PROXY_URL
    command:
      - --url
      - $WEBHOOK_PROXY_URL
      - --target
      - http://app:8000$GITHUB_WEBHOOK_PATH
